<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizNose</title>

    <!-- css file link -->
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
    <header>
        <img src="../static/studCol1.png" alt="img" id="img" class="img">
        <h1 id="title">Upload a Quiz</h1>
    </header>


    <!-- upload-container -->
    <div id="upload-container">
        <div class="questions">
            <h2>Select one CSV file</h2>
            <form method=post enctype=multipart/form-data>
                <label for="csvfile">Select a file:</label>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
    </div>

    <!-- status-container -->
    <div id="status-container">
        <div class="status">
            <h1>{{status}}</h1>
        </div>
    </div>

    <!-- javascript file source -->
</body>
</html>