<!DOCTYPE html>

<html>

<head>

    <title>Table</title>

    <link rel="stylesheet" type="text/css" href="../static/table.css">

</head>

<body>

    <a href="studDash" class="back">Back</a>

    <table>

        <tr>
            <th>No</th>

            <th>Section</th>

            <th>Time</th>

            <th>Questions</th>

            <th>Quiz</th>
        </tr>

        <tr>
            <td>1</td>

            <td>Systems Architecture</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>
        </tr>

        <tr>

            <td>2</td>

            <td>Website Design</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>

        </tr>

        <tr>

            <td>3</td>

            <td>IT Project Management</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>

        </tr>

        <tr>

            <td>4</td>

            <td>Website Design</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>

        </tr>

        <tr>

            <td>5</td>

            <td>System Analysis</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>

        </tr>

        <tr>

            <td>6</td>

            <td>Operating system</td>

            <td>20 min</td>

            <td>10</td>

            <td><a href="quiz-2">Start Quiz</a></td>

        </tr>

    </table>

</body>


</html>