<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizLette</title>

    <!-- css file link -->
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
    <img src="../static/studCol1.png" alt="img" id="img" class="img">
    <h1 id="title">Welcome to Quiz</h1>
    <div class="questions">
    <!-- quiz-container -->
    <form>
        <!-- question container -->
            <h2 id="question">{{question_prompt1}}</h2>
                
            <input type="radio" id ="question1_a" name="question1">
            <label >{{option_1a}}</label><br>

            <input type="radio"  id ="question1_b" name="question1">
            <label >{{option_1b}}</label><br>

            <input type="radio" id ="question1_c" name ="question1">
            <label >{{option_1c}}</label><br>

            <input type="radio" id ="question1_d" name ="question1">
            <label >{{option_1d}}</label><br>
                
            <br>
            <h2 id="question">{{question_prompt2}}</h2>
            <input type="radio" id ="question1_d" name ="question2">
            <label>{{option_2a}}</label><br>

            <input type="radio" id ="question1_d" name ="question2">
            <label>{{option_2b}}</label><br>

            <input type="radio" id ="question1_d" name ="question2">
            <label>{{option_2c}}</label><br>

            <input type="radio" id ="question1_d" name ="question2">
            <label>{{option_2d}}</label><br>
        
            <br>
            <h2 id="question">{{question_prompt3}}</h2>
            <input type="radio" id ="question1_d" name ="question3">
            <label>{{option_3a}}</label><br>

            <input type="radio" id ="question1_d" name ="question3">
            <label>{{option_3b}}</label><br>

            <input type="radio" id ="question1_d" name ="question3">
            <label>{{option_3c}}</label><br>

            <input type="radio" id ="question1_d" name ="question3">
            <label>{{option_3d}}</label><br>
            
            <br> 
            <h2 id="question">{{question_prompt4}}</h2>
            <input type="radio" id ="question1_d" name ="question4">
            <label>{{option_4a}}</label><br>

            <input type="radio" id ="question1_d" name ="question4">
            <label>{{option_4b}}</label><br>

            <input type="radio" id ="question1_d" name ="question4">
            <label>{{option_4c}}</label><br>

            <input type="radio" id ="question1_d" name ="question4">
            <label>{{option_4d}}</label><br>
          
            <br>
            <h2 id="question">{{question_prompt5}}</h2>
            <input type="radio" id ="question1_d" name ="question5">
            <label>{{option_5a}}</label><br>

            <input type="radio" id ="question1_d" name ="question5">
            <label>{{option_5b}}</label><br>

            <input type="radio" id ="question1_d" name ="question5">
            <label>{{option_5c}}</label><br>

            <input type="radio" id ="question1_d" name ="question5">
            <label>{{option_5d}}</label><br>
      
            <br>
            <h2 id="question">{{question_prompt6}}</h2>
            <input type="radio" id ="question1_d" name ="question6">
            <label>{{option_6a}}</label><br>

            <input type="radio" id ="question1_d" name ="question6">
            <label>{{option_6b}}</label><br>

            <input type="radio" id ="question1_d" name ="question6">
            <label>{{option_6c}}</label><br>

            <input type="radio" id ="question1_d" name ="question6">
            <label>{{option_6d}}</label><br>
          
            <br>
            <h2 id="question">{{question_prompt7}}</h2>
            <input type="radio" id ="question1_d" name ="question7">
            <label>{{option_7a}}</label><br>

            <input type="radio" id ="question1_d" name ="question7">
            <label>{{option_7b}}</label><br>

            <input type="radio" id ="question1_d" name ="question7">
            <label>{{option_7c}}</label><br>

            <input type="radio" id ="question1_d" name ="question7">
            <label>{{option_7d}}</label><br>
           
            <br>
            <h2 id="question">{{question_prompt8}}</h2>
            <input type="radio" id ="question1_d" name ="question8">
            <label>{{option_8a}}</label><br>

            <input type="radio" id ="question1_d" name ="question8">
            <label>{{option_8b}}</label><br>

            <input type="radio" id ="question1_d" name ="question8">
            <label>{{option_8c}}</label><br>

            <input type="radio" id ="question1_d" name ="question8">
            <label>{{option_8d}}</label><br>
           
            <br>
            <h2 id="question">{{question_prompt9}}</h2>
            <input type="radio" id ="question1_d" name ="question9">
            <label>{{option_9a}}</label><br>

            <input type="radio" id ="question1_d" name ="question9">
            <label>{{option_9b}}</label><br>

            <input type="radio" id ="question1_d" name ="question9">
            <label>{{option_9c}}</label><br>

            <input type="radio" id ="question1_d" name ="question9">
            <label>{{option_9d}}</label><br>
           
            <br>
            <h2 id="question">{{question_prompt10}}</h2>
            <input type="radio" id ="question1_d" name ="question10">
            <label>{{option_10a}}</label><br>

            <input type="radio" id ="question1_d" name ="question10">
            <label>{{option_10b}}</label><br>

            <input type="radio" id ="question1_d" name ="question10">
            <label>{{option_10c}}</label><br>
            
            <input type="radio" id ="question1_d" name ="question10">
            <label>{{option_10d}}</label><br>
         

            <h4 id="stat"></h4>
            <h4 id="timer">Time left: 300s</h4>
          </form>

        <div class="buttons">
            <button type="button" class="next">Next</button>
        </div>

    </div>

    <!-- scoreboard section -->
    <div id="scoreboard">
        <img src="../static/studCol1.png" alt="">
        <h2 id="score-title">Your Score</h2>
        <h2 id="score"></h2>
        <button type="button" id="score-btn" onclick="backToQuiz()">Back to Quiz</button>
        <button type="button" id="check-answer" onclick="checkAnswer()">Check Answers</button>
    </div>

    <!-- answers section -->
    <div id="answerBank">
        <h2>Answers :</h2>
        <ol type="1" id="answers">

        </ol>
        <button type="button" id="score-btn" onclick="backToQuiz()">Back to Quiz</button>
    </div>

    <!-- javascript file source -->
    <script src="../static/quiz.js"></script>
</body>
</html>



<!-- {% extends 'layout.html' %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    
    {% block body %}
    <script type="text/javascript"> var answers = "{{answers}}";</script>
    <div id="time">{{duration}}</div>
    <table>
    <tr>
      <td id='queid'>Question No.</td>
      <td id='mark'>Marks: {{ marks }}</td>
    </tr>
    </table>
    <pre class="prettyprint" id="pretest">
      <p id="que" style="">{{ q }}</p>
    </pre>
    
    <table id="options">
      <tr>
        <td id='a'>𝐀. {{ a }}</td>
        <td id='b'>𝐁. {{ b }}</td>
      </tr>
      <tr>
        <td id='c'>𝐂. {{ c }}</td>
        <td id='d'>𝐃. {{ d }}</td>
      </tr>
    </table>
        
    <div id="overlay">
      <div class="container" id="question-list">
      </div>
    </div>
    <div id="submit-overlay"></div>
    
    <footer class="page-footer fixed-bottom pt-4">
      <div class="container">
    
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <button class="btn btn-primary btn-rounded" id="questions">Questions</button>
            <input type="button" value="Prev" id="prev" class="btn btn-primary btn-rounded">
            <input type="button" value="Next" id="next" class="btn btn-primary btn-rounded">
            <input type="button" value="Submit" id="submit" class="btn btn-success btn-rounded">
            <button class="btn btn-primary btn-rounded" id="bookmark">Bookmark</button>
            <div class="btn btn-success" id="finish">Finish Test</div>
          </li>
        </ul>
      </div>
    </footer>
    
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "../static/give_test.css">
    
    {% endblock %}
  </body>
  </html> -->