<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizNose</title>

    <!-- css file link -->
    <link rel="stylesheet" href="../static/quiz.css">
</head>

<body>
    <img src="../static/studCol1.png" alt="img" id="img" class="img">
    <h1 id="title">Welcome to Quiz</h1>

    <!-- quiz-container -->
    <section class="questions-form">
        <div id="quiz-container">
            <h1 id="question">{{current_question}}) {{question_prompt}}</h1>
            <form id="serve-quiz" action="quiz" method="POST">
                <ul class="questions">
                    <li><input type="radio" name="quiz_choice" value="choice_a">{{option_a}}</input></li>
                    <li><input type="radio" name="quiz_choice" value="choice_b">{{option_b}}</input></li>
                    <li><input type="radio" name="quiz_choice" value="choice_c">{{option_c}}</input></li>
                    <li><input type="radio" name="quiz_choice" value="choice_d">{{option_d}}</input></li>
                    <br>
                </ul>
                <button class="btn next" type="submit" value="submit">Next Question</button>
            </form>
            <form method=GET name="back" style="margin-top: 15px;">
                <button>Back</button>
            </form>

        </div>
    </section>

    <!-- javascript file source -->
    <script src="../static/quiz.js"></script>
</body>

</html>