<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/register.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Register</title>
</head>

<body>
  <form action="GET" class="login-form">
    <h1>Login Form</h1>
    <div class="inputs">
      <p>User name</p>
      <input type="text" name="user" placeholder="User Name"><br>
      <p>Password</p>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="buttons">
      <button id="login" class="btn btn-primary" type="button" onclick="window.location.href = 'studDash.html';">Log In</button><br>
      <a href="#">Forgot password?</a>
      <div class="line"></div>
      <button class="newAccount btn btn-primary">Create new account</button>
    </div>
  </form>

</body>

</html>