<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/studDash.css">
    <title>Student</title>
</head>

<body>
    <!-- <header>
        <h2>
            QuizNose
        </h2>

        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Buscar aquí" />
        </div>
        <div class="user-wrapper">
            <img src="../static/avatar.png" width="40px" height="40px" alt="">
            <div>
                <h4>Administrador</h4>
                <small>Super Admin</small>
            </div>
        </div>
    </header> -->
    <div class="superBox" style="display: flex;">
        <div class="side-menu">
            <div class="brand-name">
                <h1><a href="index.html">QuizNose</a></h1>
                <img src="../static/avatars/3.png" alt="" class="user-photo">
            </div>
            <ul>
                <li>
                    <a href="#">
                        <img src="../static/dash.png" alt="">&nbsp;Dashboard
                    </a>
                </li>
                <li><img src="../static/students1.png" alt="">&nbsp; My Scores</li>
                <li><img src="../static/teacher.png" alt="">&nbsp; My Courses</li>
                <LI><img src="../static/course.png" alt="">&nbsp; My Tests</LI>
                <li><img src="../static/queation.png" alt="">&nbsp; Upload Tests</li>
                <LI><img src="../static/help.png" alt="">&nbsp; Help</LI>
                <LI><img src="../static/setting.png" alt="">&nbsp; Settings</LI>
            </ul>
        </div>

        <div class="content">
            <a href="index.html" class="back">Back</a>
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>12</h1>
                        <h3>My Scores</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/avatars/score.jpg" alt="">
                    </div>
                </div>

                <!-- <div class="card">
					<div class="box">
						<h1>53</h1>
						<h3>Teachers</h3>
					</div>
					<div class="icon-case">
						<img src="../static/laptop.png" alt="">
					</div>
				</div> -->

                <div class="card">
                    <div class="box">
                        <h1>5</h1>
                        <h3>My Courses</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/avatars/courses.jpg" alt="">
                    </div>
                </div>

                <div class="card" onclick="window.location.href = 'quiz';">
                    <div class="box">
                        <h1>10</h1>
                        <h3><a href="myTests.html">My Tests</a></h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/avatars/lib.jpg" alt="">
                    </div>
                </div>

                <div class="card">
                    <a href="create_test">
                        <div class="box">
                            <h1>Quiz</h1>
                            <h3>Upload Tests</h3>
                        </div>
                        <div class="icon-case">
                            <img src="../static/upload.jpg" alt="upload_image">
                        </div>
                    </a>
                </div>
            </div>

            <!-- <div class="cont`ent-2">
				<div class="students-score">
					<div class="title">
						<h2>Student Scores</h2>
						<a href="#" class="btn">View All</a>
					</div>
					<table>
						<tr>
							<th>Name</th>
							<th>Course</th>
							<th>Test</th>
							<th>Score</th>
						</tr>
						<tr>
							<th>Kawang Wong</th>
							<th>DevOps</th>
							<th>20</th>
							<th>100%</th>
						</tr>
						<tr>
							<th>Ricardo Deodutt</th>
							<th>DevOps</th>
							<th>20</th>
							<th>100%</th>
						</tr>
						<tr>
							<th>Kenneth Tan</th>
							<th>DevOps</th>
							<th>20</th>
							<th>100%</th>
						</tr>
						<tr>
							<th>Dilobar Irisova</th>
							<th>DevOps</th>
							<th>20</th>
							<th>100%</th>
						</tr>
					</table>
				</div>
				<div class="new-students">
					<div class="title">
						<h2>New Students List</h2>
						<a href="#" class="btn">View All</a>
					</div>
					<ol>
						<li>Tom Cruise</li>
						<li>Leonardo DiCaprio</li>
					</ol> -->
        </div>
    </div>
    </div>
    </div>

</body>

</html>