<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="../static/fixes.css">
	<!-- <link rel="stylesheet" href="../static/common.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../static/index.css">	 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
		<div class="container">
			<a class="navbar-brand" href="index.html">Exam Buzz</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					{% if session.logged_in %}
					<li class="nav-item ">
						<a href="dashboard.html" class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a href="/register" class="nav-link">Register</a></li>
					<li class="nav-item">
						<a href="login.html" class="nav-link">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" id="welcome" align="center">
		<h1 class="title">Welcome to QuizLette</h1>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-4">
			<div class="box">
				<!-- <img src="../static/quick2.jpeg"> -->
				<p>
					We bust any academic poltergeist professionally and quickly. Why do we do this? To save your time and sanity! Have a specter haunting your transcript? You know who to call. QuizLette!
				</p>
			</div>
		</div>
		<div class="col-12 col-sm-4">
			<div class="box">
				<!-- <img src="../static/tutor2.png"> -->
				<p>
					Our expert QuizLet all have advanced degrees and years of tutoring experience. The QuizLette team is the best there is at preparing students for any online class-related nightmares.
				</p>
			</div>
		</div>
		<div class="col-12 col-sm-4">
			<div class="box">
				<!-- <img src="../static/free.png"> -->
				<p>
					No more class-induced night chills! Our mission is for you, unburdened by the tortures of endless homework, midterms, and finals, to finally relax! Your grades will be in good hands.
				</p>
			</div>
		</div>
	</div>	
</div>
 -->
	<div class="grid12-6">
		<div class="inner_box">
			<p>Ready to get Started?</p>
			<a class="btn btn-primary" href="register.html" style="font-size: 1.2em; background-color:#6a63dd">Sighn Up</a>
		</div>

	
	</div>


	<footer class="bg-dark footer">
		<div class="container text-center">
			<small class="text-white-50 ">Copyright &copy; Loved by educators and students in over 50% of U.S. colleges and 150 countries.</small>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>